assets/js/librarian.json
{
  "name": "A∴A∴ Librarian: Official Ingestor",
  "nodes": [
    {
      "parameters": {
        "triggerOn": "folder",
        "folderId": "1beCTUg8aASmTVH76UE6TZe4bCbQHuVWk",
        "event": "fileCreated",
        "options": {
          "includeSubfolders": true
        }
      },
      "id": "1",
      "name": "Watch Factory Inbox",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [400, 300]
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "get",
        "folderId": "={{ $json.parents[0] }}"
      },
      "id": "2",
      "name": "Get Grade Name",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [620, 300]
    },
    {
      "parameters": {
        "fileId": "={{ $node[\"Watch Factory Inbox\"].json.id }}"
      },
      "id": "3",
      "name": "Download PDF",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [840, 300]
    },
    {
      "parameters": {
        "options": {
          "metadata": "={\n  \"grade\": \"{{ $node[\"Get Grade Name\"].json.name }}\",\n  \"source\": \"{{ $node[\"Watch Factory Inbox\"].json.name }}\"\n}"
        }
      },
      "id": "4",
      "name": "Tag Metadata",
      "type": "@n8n/n8n-nodes-langchain.documentLabeler",
      "typeVersion": 1,
      "position": [1060, 300]
    },
    {
      "parameters": {
        "tableName": "thelema_vault"
      },
      "id": "5",
      "name": "Postgres Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePgVector",
      "typeVersion": 1,
      "position": [1300, 300]
    },
    {
      "parameters": {
        "modelName": "models/text-embedding-004"
      },
      "id": "6",
      "name": "Gemini Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGooglePaLM",
      "typeVersion": 1,
      "position": [1200, 520]
    },
    {
      "parameters": {},
      "id": "7",
      "name": "PDF Loader",
      "type": "@n8n/n8n-nodes-langchain.documentPdf",
      "typeVersion": 1,
      "position": [950, 520]
    },
    {
      "parameters": {
        "options": {
          "chunkOverlap": 100,
          "chunkSize": 1000
        }
      },
      "id": "8",
      "name": "Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacter",
      "typeVersion": 1,
      "position": [1080, 520]
    }
  ],
  "connections": {
    "Watch Factory Inbox": { "main": [ [ { "node": "Get Grade Name", "type": "main", "index": 0 } ] ] },
    "Get Grade Name": { "main": [ [ { "node": "Download PDF", "type": "main", "index": 0 } ] ] },
    "Download PDF": { "main": [ [ { "node": "Tag Metadata", "type": "main", "index": 0 } ] ] },
    "Tag Metadata": { "main": [ [ { "node": "Postgres Vector Store", "type": "main", "index": 0 } ] ] },
    "PDF Loader": { "main": [ [ { "node": "Tag Metadata", "type": "main", "index": 0 } ] ] },
    "Text Splitter": { "main": [ [ { "node": "Tag Metadata", "type": "main", "index": 0 } ] ] },
    "Gemini Embeddings": { "ai_embedding": [ [ { "node": "Postgres Vector Store", "type": "ai_embedding", "index": 0 } ] ] }
  }
}
